<!DOCTYPE html>
<html>
  <head>
    <title>Mask RCNN</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- Nav Bar-->
    <ul
      class="nav navbar-light"
      style="background-color: #d8ecfa; font-size: 20px"
    >
      <li class="nav-item">
        <a
          class="nav-link activate"
          href="{{ url_for('home_page') }}"
          style="margin: 0px 200px"
          >Home</a
        >
      </li>
    </ul>
    <!-- Nav Bar-->

    <!-- Zoi Data Logo -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="http://www.zoidata.com/">
        <img
          src="https://media-exp1.licdn.com/dms/image/C4E0BAQFgndDuBja18Q/company-logo_200_200/0/1603602294877?e=2159024400&v=beta&t=vxbgVhXwOwG_HrTCm5_Mg72EHwureCmLtzQDlWePewE"
          width="150"
          height="150"
          alt=""
          style="margin: -100px 0px"
        />
      </a>
    </nav>
    <!-- Zoi Data Logo-->

    <h1 class="text-center">Uploaded Files</h1>
  </head>

  <body>

    <ul>
        {% for file_url in user_file %}
        <img style="height: 500px" class="img-fluid" src="{{ url_for('static' ,filename = file_url) }}" >
        <h1>{{ url_for('static', filename = file_url) }}</h1>
        {% endfor %}
    </ul>

  </body>

  <footer class="fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #d4e5f1">
      © 2022 Copyright:
      <a class="text-dark" href="https://www.zoidata.com/">zoidata.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</html>
